* {
  font-family: "Inter", sans-serif;

  margin: 0px;
  text-decoration: none;
  padding: 0px;

  /* Experimental */
  box-sizing: border-box;
  /* color: var(--dark); */

  /* debuggin */
  /* outline: 1px solid red; */
}

:root {
  /*Colors*/
  --main-color: #1b73f8;
  --main-beneficiario: #39c3aa;
  --main-afiliado: #743bbc;

  --dark: #383a40;
  --medium: #686773;
  --gray: #c9c9c9;
  --border: #d9d9d9;

  --act-warning: #fdbb3b;
  --act-good: #22c56c;
  --act-danger: #e82721;

  --white: #ffffff;
  --back-lightblue: #f8fafb;
  --back-selected: #f2f9fc;
}

a {
  all: unset;
}

.scroll {
  overflow: scroll;
}

/* estilos de texto */
.overline {
  font-size: 16px;
  font-kerning: 4px;
}
.title-huge {
  font-weight: bold;
  font-size: 36px;
}
.title-big {
  font-weight: bold;
  font-size: 24px;
}
.title-regular {
  font-weight: bold;
  font-size: 16px;
}
.title-small {
  font-weight: bold;
  font-size: 12px;
}
.title-micro {
  font-weight: bold;
  font-size: 10px;
}
.paragraph-regular {
  font-weight: regular;
  font-size: 16px;
}
.paragraph-small {
  font-weight: regular;
  font-size: 12px;
}
.paragraph-micro {
  font-weight: regular;
  font-size: 10px;
}
.micro-italic {
  font-weight: 400;
  font-size: 10px;
  font-style: italic;
  list-style: none;
}

.text-center {
  text-align: center;
}

/* estilos de botones */
.button-big {
  border: none;
  height: 36px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0px 12px;
  border-radius: 4px;
  background-color: var(--white);
  filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.12));
}

.button-big:hover span {
  color: var(--white);
}
.button-big:hover svg path {
  stroke: var(--white);
}
.button-big:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}


.button-big.main {
  background-color: var(--main-color);
}
.button-big span {
  color: var(--white);
}
.button-big svg path {
  stroke: var(--white);
}


.button-big.secondary {
  background-color: var(--white);
}
.button-big.secondary span {
  color: var(--medium);
}
.button-big.secondary svg path {
  stroke: var(--main-color);
}
.button-big.secondary:hover {
  background-color: var(--main-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.button-big.secondary:hover span {
  color: var(--white);
}
.button-big.secondary:hover svg path {
  stroke: var(--white);
}


.button-big.danger {
  background-color: var(--act-danger);
}
.button-big.good {
  background-color: var(--act-good);
}


.button-small {
  color: var(--main-color);
  border: none;
  height: 28px;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0px 12px;
  border-radius: 4px;
  background-color: var(--white);
  filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.12));
}
.button-small span {
  color: var(--main-color);
}
.button-small:hover {
  background-color: var(--main-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.button-small:hover span {
  color: var(--white);
}

/* usuario en el navbar */
.user-card {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 0px 24px;
  gap: 12px;
}
.usuario-info {
  display: flex;
  flex-direction: column;
}
.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0px 24px;
  box-sizing: border-box;
}

/* person type tags */
.persontype-tag {
  padding: 4px 8px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.persontype-tag span {
  color: var(--white);
}
.persontype-tag svg path {
  stroke: var(--white);
  stroke-width: 2px;
}
.persontype-tag.afiliado {
  background-color: var(--main-afiliado);
}
.persontype-tag.beneficiario {
  background-color: var(--main-beneficiario);
}

/* Flex classes */

.flex-h {
  display: flex;
  flex-direction: row;
}
.flex-v {
  display: flex;
  flex-direction: column;
}
.flex-center-h {
  /* align-items: center; */
  justify-content: center;
}
.gap48 {
  gap: 48px;
}
.gap24 {
  gap: 24px;
}
.gap12 {
  gap: 12px;
}
.gap8 {
  gap: 8px;
}
.gap4 {
  gap: 4px;
}
.gap-auto {
  justify-content: space-between;
}

/* Paddings */
.pad24 {
  padding: 24px;
}

/* elements */
.selection-box {
  width: 12px;
  height: 12px;
  border-radius: 4px;
  border: 1px solid var(--border);
}

.dual-selector {
  cursor: pointer;
  /* margin: 24px; testing only */
  border: none;
  border-radius: 4px;
  overflow: hidden;
  height: 36px;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-content: center;
  /* gap: 0px; */
  padding: 0px;
  border-radius: 4px;
  background-color: var(--white);
  filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.12));
}

.dual-selector div {
  /* background-color: var(--white); */
  height: 100%;
  /* width: 50%; */
  padding: 0px 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--dark);
  font-weight: bold;
  z-index: 2;
  text-transform: capitalize;
}

.dual-selector .no-display {
  display: none;
}

.dual-selector .left-container.selected {
  color: var(--white);
}
.dual-selector .right-container.selected {
  color: var(--white);
}

.dual-selector .selection-background {
  background-color: var(--main-color);
  border-radius: 4px;
  position: absolute;
  height: 100%;
  width: 50%;
  z-index: 1;
  /* animation: 1000s; */
}
.dual-selector .selection-background.left {
  left: 0%;
  /* animation: 1000s; */
}
.dual-selector .selection-background.right {
  left: 50%;
  /* animation: 1000s; */
}
/* .button-big.main span {
  color: var(--white);
}
.button-big.main svg path {
  stroke: var(--white);
}
.button-big.secondary {
  background-color: var(--white);
} */

.common-container {
  background-color: var(--white);
  display: flex;
  border: 1px solid var(--border);
  border-radius: 4px;
}

.entry-1-readonly {
  all: unset;
  padding: 8px 0px;
}
.entry-1-active {
  all: unset;
  border: solid 1px var(--border);
  border-radius: 4px;
  background-color: var(--back-lightblue);
  padding: 8px;
}
.entry-1-selected {
  all: unset;
  border: solid 1px var(--main-color);
  border-radius: 4px;
  background-color: var(--back-selected);
  padding: 8px;
}
.entry-1-blocked {
  all: unset;
  /* border: solid 1px var(--border); */
  border-radius: 4px;
  background-color: var(--back-lightblue);
  padding: 8px;
}
.entry-1-errorstatus {
  border-color: var(--act-danger);
}

/* containers */
.floatingcontainer-parent {
  /* height: 100%; */
  flex-grow: 1;
  align-self: stretch;
  width: 100%;
  padding: 24px;
  gap: 24px;

}
