.navbar {
  width: 230px;
  height: 100vh;
  /* max-height: min-content; */
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-right: solid 1px var(--border);
  padding: 24px 0px;
  gap: 24px;
  top: 0px;
  position: sticky;
  box-sizing: border-box; /* sino, crece sin tener en cuenta el padding y se sale de la pantalla */
}
.navbar .divider {
  padding: 0px 24px;
  width: 100%;
  box-sizing: border-box;
}
.navbar .divider div {
  height: 1px;
  background-color: var(--border);
}
.navbar ul {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.navbar ul li {
  padding-left: 0px;
}
.navbar ul svg {
  width: fit-content;
}

.nav-logo-container {
  display: flex;
  justify-content: center;
  height: 52px;
  width: 100%;
}

.nav-logo-container img {
  height: 100%;
}

.tab-option {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 0px;
  width: 230px;
  height: 48px;
  box-sizing: border-box;
  cursor: pointer;
  padding-left: 24px;
}

.tab-option.selected {
  background-color: var(--back-selected);
  border-left: solid 4px var(--main-color);
  border-right: solid 1px var(--border);
  box-sizing: border-box;
  padding-left: 20px;
}
.title-small.selected {
  color: var(--main-color);
}
