* {
  font-family: inter;
  color: var(--dark);
  margin: 0px;
  text-decoration: none;
  padding: 0px;
}

:root{
  --main-color: #1b73f8;
  --gray: #d9d9d9;
  --dark: #383a40;
  --white: #fff;
  --back-lightblue: #f2f9fc;
}

.navbar {
  width: 230px;
  height: 100vh;
  background-color: var(--white);
  border-right: solid 1px var(--gray);

  padding: 24px 0px;
}

.nav-logo-container {
  display: flex;
  justify-content: center;
  height: 52px;
  width: 100%;
}

.nav-logo-container img {
  height: 100%;
}

.tab-option {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 0px 4px 24px;
}
.tab-option.selected {
  background-color: var(--back-lightblue);
}
